---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        <ul>
        {% assign title_shown = true %}
      {% endunless %}
      <li style="margin-bottom: 10px;">
        {% if post.citation %}
          {% capture title_link %}<a href="{{ post.paperurl | default: post.url }}">{{ post.title }}</a>{% endcapture %}
          {{ post.citation | replace: post.title, title_link }}
        {% else %}
          <a href="{{ post.paperurl | default: post.url }}"><strong>{{ post.title }}</strong></a>, {{ post.venue }}, {{ post.date | date: "%Y" }}
        {% endif %}
      </li>
    {% endfor %}
    {% if title_shown %}</ul>{% endif %}
  {% endfor %}
{% else %}
  <ul>
  {% for post in site.publications reversed %}
    <li style="margin-bottom: 10px;">
      {% if post.citation %}
        {% capture title_link %}<a href="{{ post.paperurl | default: post.url }}">{{ post.title }}</a>{% endcapture %}
        {{ post.citation | replace: post.title, title_link }}
      {% else %}
        <a href="{{ post.paperurl | default: post.url }}"><strong>{{ post.title }}</strong></a>, {{ post.venue }}, {{ post.date | date: "%Y" }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endif %}
